.footer__section{
  padding: 50px 0px;
  background-color: #273036;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}


.footer__grid {
  padding: 50px 0px;
}

.footer__grid h4 {
  padding: 50px 0px;
  font-family: "Poppins";
  font-size: 1.8rem;
}

.footer__generallinks li{
  list-style-type: none;
  padding: 5px 0px;
}

.footer__generallinks li > a {
  color: #ffffff;
  font-size: 1.1rem;
  text-decoration: none;
}

.footer__generallinks li > a:hover {
  color: lightgrey;
  text-decoration: underline;
}

/* styles for material text field */

.footer__subscribe .MuiTextField-root{
  width: 70%;
}

.footer__subscribe .MuiTextField-root > label {
  color: white !important;
}

.footer__subscribe label.Mui-focused{
  color: white !important;
}

.footer__subscribe .MuiOutlinedInput-root, fieldset{
  border-color: white !important; 
  color: white !important;
  font-weight: bold !important;
}

.footer__subscribe > button{
  margin-top: 20px;
  display: block;
  background-color: #0099FF;
  color: #ffffff;
}

.footer__subscribe > button:hover {
  background-color: #0099FF;
}

.footer__copyright{
  padding-top: 100px;
}

.footer__copyright > p {
  padding: 5px 0px;
  color: lightgrey;
}

@media screen and (max-width : 600px){
  
}