.hacktoberbanner__section{
  height: 500px;
  background-color: #2b2d42;
}

.hacktoberbanner__img{
  background-image: url("/img/home/hacktober_banner.svg");
  background-position: center;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
}

.hactoberbanner__text {
  display: block;
}

.hactoberbanner__text h3 {
  font-size: 3rem;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Poppins";
}

.hactoberbanner__text a:hover {
  text-decoration: none;
}

.hactoberbanner__text a button {
  height: 52px;
  line-height: 26px;
  padding: 0px 26px;
  display: block;
  width: 50%;
  background-color: #16a085;
  color: #ffffff;
}

.hactoberbanner__text a button:hover{
  background-color: #16a085;
}

.hactoberbanner__text__sm {
  display: none;
}

@media screen and (max-width : 600px){
  .hacktoberbanner__section {
    height: 600px;
  }

  .hacktoberbanner__img{
    background-image: url("/img/home/hacktober_banner_sm.svg");
    background-position: center;
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
  }

  .hactoberbanner__text {
    display: none;
  }

  .hactoberbanner__text__sm {
    display: block;
  }

  .hactoberbanner__text__sm h3 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    font-family: "Poppins";
  }

  .hactoberbanner__text__sm a:hover{
    text-decoration: none;
  }

  .hactoberbanner__text__sm a button {
    background-color: #16a085;
    color: #ffffff;
    display: block;
    margin: 50px auto;
    width: 100%;
  }

  .hactoberbanner__text__sm a button:hover{
    background-color: #16a085;
  }

}