.projects__section{
 padding: 50px 0px; 
}
.projects__title{
  padding: 30px 0px;
  font-size: 2.4rem;
  color: #2b2d42;
  font-family: "Poppins";
  text-align: center;
}

.projects__subtitle {
  font-size: 1.5rem;
  color: #4d4d4d;
  font-weight: 500;
  padding: 30px 0px;
  line-height: 2.5rem;
  text-align: center;
}

.projects__subtitle > strong {
  font-size: 1.5rem;
  font-weight: 900;
  color: #08BDBA;
}

.projects__list {
  padding: 30px 0px;
}

.MuiGrid-item{
  width: 100%;
}

.MuiCard-root {
  position: relative;
  height: 200px;
}

.MuiCard-root:hover{
  border-bottom: 5px solid #08BDBA;
}

.MuiCard-root > span {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #3f51b5;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px;
  font-size: 0.8rem;
}

.MuiCard-root h4 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.MuiCard-root p {
  font-weight: 400;
  color: #4d4d4d;
  padding-top: 20px;
}

.MuiCardActions-root{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.MuiCardActions-root > a:hover{
  text-decoration: none;
}

.MuiCardActions-root > a > button {
  color: #08BDBA;
}

@media screen and (max-width : 600px){
  .projects__title{
    font-size: 2rem;
  }

  .projects__subtitle{
    font-size: 1.2rem;
  }

  .projects__subtitle > strong {
    font-size: 1.2rem;
  }

  .MuiCard-root p{
    font-size: 1rem;
  }
}
