.pathDetail__card .MuiCardContent-root{
  height: 300px;
}

.pathDetail__card h3{
  font-size: 1.4rem;
  font-family: "Poppins";
  margin-bottom: 1.8rem;
  color: #3c3c3c;
}

.pathDetail__card p{
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.pathDetail__tag{
  background-color: #3c3c3c !important;
  color: #ffffff !important;
  margin-top: 10px !important;
}

.pathDetail__tag:nth-child(even){
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.pathDetail__card a:hover{
  text-decoration: none;
}

.pathDetail__card a > button:nth-child(odd) {
  color: #3c3c3c;
}


@media screen and (max-width:900px){
  .pathDetail__card .MuiCardContent-root{
    height: 400px;
  }
}