.about__section{
  padding: 50px 0px;
}

.about__title{
  padding: 30px 0px;
  font-size: 3rem;
  color: #2b2d42;
  font-family: "Poppins";
  text-align: center;
}

.about__content {
  padding: 30px 0px;
}

.about__content p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  color: #4d4d4d;
}